
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @user.first_name %>
      <h1>Thanks for your payment, <%= @user.first_name %></h1>
    <% end %>
    <p>
      You have successfully paid for your order
       <br>
    </p>
    <p>
      <% @order.line_items.each do |item| %>
        <%="Product name: #{item.product.name}" =%>
        <%="Quantity: #{item.quantity}"=%>
        <%="Item price: #{item.item_price}"=%>
        <%="Total item price: #{item.total_price}"=%><br>
      <% end %>
      <%="Total: #{@order.total_cents/100}"=%>
    </p>
  </body>
</html>



